<!-- Begin Wrapper -->
<div class="wrapper">
    <!-- Begin Inner Wrapper -->
    <div class="inner-wrapper">
        <!-- Begin Gallery -->
        <div class="gallery-images grid style-icons high-space">
            <div class="row">
                <div class="col full">
                    <div class="filters clearfix" data-style="scale">
                        <p>FILTERS</p>
                        <a data-filter="*" class="active cursor-pointer">ALL</a>
                        <a data-filter=".filter-sports" class="cursor-pointer">SPORTS</a>
                        <a data-filter=".filter-indoors" class="cursor-pointer">INDOORS</a>
                        <a data-filter=".filter-outdoors" class="cursor-pointer">OUTDOORS</a>
                        <a data-filter=".filter-models" class="cursor-pointer">MODELS</a>
                        <a data-filter=".filter-portraits" class="cursor-pointer">PORTRAITS</a>
                        <a data-filter=".filter-fashion" class="cursor-pointer">FASHION</a>
                    </div>
                </div>
            </div>
            <div class="images clearfix cols-4 js-isotope"  data-isotope-options='{ "itemSelector": ".img", "layoutMode": "masonry" }'>
                <div class="img filter-outdoors filter-models filter-fashion">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454049067/m1_4_portrait_iuxnmf.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454049067/m1_4_portrait_iuxnmf.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053473/hockey_1_ts08y2.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053473/hockey_1_ts08y2.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors filter-models filter-fashion">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454049147/m1_8_portrait_flxjlk.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454049147/m1_8_portrait_flxjlk.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors filter-models">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/v1444847365/people2_jwux5t.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/v1444847365/people2_jwux5t.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454049192/SP0_6845_z9wfcp.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454049192/SP0_6845_z9wfcp.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053463/hockey_2_lty5vo.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053463/hockey_2_lty5vo.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053471/hockey_3_eddbyk.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053471/hockey_3_eddbyk.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>

                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053469/hockey_5_buj93p.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053469/hockey_5_buj93p.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053473/hockey_4_uia6ts.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454053473/hockey_4_uia6ts.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors filter-fashion">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/v1444847365/people1_vdtak2.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/v1444847365/people1_vdtak2.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors filter-fashion">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308372/model3_3_land_lterbp.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308372/model3_3_land_lterbp.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors filter-fashion">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308368/model3_2_land_hlsfpr.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308368/model3_2_land_hlsfpr.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors filter-fashion">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308355/model3_1_land_uhoefd.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308355/model3_1_land_uhoefd.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308355/basketball7_kx86m1.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308355/basketball7_kx86m1.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308342/basketball6_epgrlu.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308342/basketball6_epgrlu.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308338/basketball5_ez3hrq.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308338/basketball5_ez3hrq.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308344/basketball4_cfyfnz.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308344/basketball4_cfyfnz.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308343/basketball3_gzjfus.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308343/basketball3_gzjfus.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308324/basketball2_tryagt.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308324/basketball2_tryagt.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-sports">
                    <div class="img-cont">
                        <img class="lazy" data-original="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308355/basketball7_kx86m1.jpg" alt="" data-width="470">
                        <div class="overlay">
                            <a href="http://res.cloudinary.com/ajphotography/image/upload/c_scale,w_2048/v1454308355/basketball7_kx86m1.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery -->
    </div>

    <!-- End Inner Wrapper -->
</div>
<!-- End Wrapper -->