<!-- Begin Wrapper -->
<div class="wrapper">
    <!-- Begin Inner Wrapper -->
    <div class="inner-wrapper">
        <!-- Begin Gallery -->
        <div class="gallery-images grid style-icons high-space">
            <div class="row">
                <div class="col full">
                    <div class="filters clearfix" data-style="scale">
                        <p>FILTERS</p>
                        <a data-filter="*" class="active cursor-pointer">ALL</a>
                        <a data-filter=".filter-indoors" class="cursor-pointer">INDOORS</a>
                        <a data-filter=".filter-outdoors" class="cursor-pointer">OUTDOORS</a>
                        <a data-filter=".filter-models" class="cursor-pointer">MODELS</a>
                        <a data-filter=".filter-portraits" class="cursor-pointer">PORTRAITS</a>
                        <a data-filter=".filter-fashion" class="cursor-pointer">FASHION</a>
                    </div>
                </div>
            </div>
            <div class="images clearfix cols-4 js-isotope"  data-isotope-options='{ "itemSelector": ".img", "layoutMode": "masonry" }'>
                <div class="img filter-outdoors filter-models filter-fashion">
                    <div class="img-cont">
                        <img class="lazy" data-original="images/1200X800/m3.jpg" alt="" data-width="470" data-height="375">
                        <div class="overlay">
                            <a href="images/1200X800/m3.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                            <span class="separator"></span>
                            <a href="#" class="love icon1-heart-empty"></a>
                            <a href="#" class="love-2 icon1-heart"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-models">
                    <a class="img-cont" href="https://www.youtube.com/watch?v=RjAHkAW8pV4">
                    <img class="lazy" data-original="images/1200X800/m3.jpg" alt="" data-width="470" data-height="375">
                    <span class="icon"></span>
                    </a>
                </div>
                <div class="img filter-indoors filter-models">
                    <div class="img-cont">
                        <img class="lazy" data-original="images/1200X800/m3.jpg" alt="" data-width="470" data-height="375">
                        <div class="overlay">
                            <a href="images/1200X800/m3.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                            <span class="separator"></span>
                            <a href="#" class="love icon1-heart-empty"></a>
                            <a href="#" class="love-2 icon1-heart"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-outdoors">
                    <div class="img-cont">
                        <img class="lazy" data-original="images/1200X800/m3.jpg" alt="" data-width="470" data-height="375">
                        <div class="overlay">
                            <a href="images/1200X800/m3.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                            <span class="separator"></span>
                            <a href="#" class="love icon1-heart-empty"></a>
                            <a href="#" class="love-2 icon1-heart"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-models">
                    <div class="img-cont">
                        <img class="lazy" data-original="images/1200X800/m3.jpg" alt="" data-width="470" data-height="375">
                        <div class="overlay">
                            <a href="images/1200X800/m3.jpg" class="preview icon4-eyeball5" rel="gallery"></a>
                            <span class="separator"></span>
                            <a href="#" class="love icon1-heart-empty"></a>
                            <a href="#" class="love-2 icon1-heart"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-models">
                    <div class="img-cont">
                        <img class="lazy" data-original="images/1200X800/m3.jpg" alt="" data-width="470" data-height="375">
                        <div class="overlay">
                            <a href="images/gallery/g7_6f.png" class="preview icon4-eyeball5" rel="gallery"></a>
                            <span class="separator"></span>
                            <a href="#" class="love icon1-heart-empty"></a>
                            <a href="#" class="love-2 icon1-heart"></a>
                        </div>
                    </div>
                </div>
                <div class="img filter-indoors filter-portraits">
                    <div class="img-cont">
                        <img class="lazy" data-original="images/1200X800/m3.jpg" alt="" data-width="470" data-height="375">
                        <div class="overlay">
                            <a href="images/gallery/g7_7f.png" class="preview icon4-eyeball5" rel="gallery"></a>
                            <span class="separator"></span>
                            <a href="#" class="love icon1-heart-empty"></a>
                            <a href="#" class="love-2 icon1-heart"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery -->
    </div>

    <!-- End Inner Wrapper -->
</div>
<!-- End Wrapper -->