<!-- Begin Wrapper -->
<div class="wrapper">
    <!-- Begin Horizontal Gallery -->
    <div class="gallery-h centered">
        <div class="nav">
            <a href="#" class="prev icon4-leftarrow23"></a>
            <a href="#" class="next icon4-chevrons"></a>
        </div>
        <div class="gallery clearfix">
            <div class="container">
                <div class="img">
                    <a href="images/gallery/m2.png" rel="gallery">
                    <img class="lazy" data-original="images/gallery/m2.png" alt="" data-width="550" data-height="785">
                    </a>
                </div>
                <div class="img">
                    <a href="images/gallery/m6.png" rel="gallery">
                    <img class="lazy" data-original="images/gallery/m6.png" alt="" data-width="550" data-height="785">
                    </a>
                </div>
                <div class="img">
                    <a href="images/gallery/m3.png" rel="gallery">
                    <img class="lazy" data-original="images/gallery/m3.png" alt="" data-width="550" data-height="785">
                    </a>
                </div>
                <div class="img active">
                    <a href="images/gallery/m4.png" rel="gallery">
                    <img class="lazy" data-original="images/gallery/m4.png" alt="" data-width="550" data-height="785">
                    </a>
                </div>
                <div class="img">
                    <a href="images/gallery/m5.png" rel="gallery">
                    <img class="lazy" data-original="images/gallery/m5.png" alt="" data-width="550" data-height="785">
                    </a>
                </div>
                <div class="img">
                    <a href="images/gallery/m3.png" rel="gallery">
                    <img class="lazy" data-original="images/gallery/m3.png" alt="" data-width="550" data-height="785">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Horizontal Gallery -->
</div>
<!-- End Wrapper -->