<div>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img class="placesImage">
	      <div class="caption">Places
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img class="peopleImage">
	      <div class="caption">
	        People
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img class="kidsImage">
	      <div class="caption">
	        Kids
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img class="footBallImage">
	      <div class="caption">Football
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img class="peopleImage">
	      <div class="caption">
	        People
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img class="kidsImage">
	      <div class="caption">
	        Kids
	      </div>
	    </div>
	  </div>
	</div>
	<!--div class="container">
      <img src="../images/kids.jpg">
      <div class="caption">
	    Kids
	  </div-->
</div>
</div>
