<!--
    nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" href="#">
                AJPhotography
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#about">
                        About Me
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav
-->
<a href="#home" class="logo-container">
<p>
    AJ PHOTOGRAPHY
</p>
</a>
<nav>
<ul>
    <li>
        <a href="#home" class="active">
            HOME
        </a>
    </li>
    <li>
        <a href="#gallery">
            GALLERY
        </a>
    </li>
    <li>
        <a href="#kenburns">
            KENBURNS
        </a>
    </ul>
</nav>
<a class="mobile-navigation icon3-list2">
</a>
