/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Light.ttf');
    /*src: url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/icomoon.woff') format('woff'), url('../../static/fonts/icomoon.ttf') format('truetype'), url('../../static/fonts/icomoon.svg#icomoon') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background-color: #000000;
}

body {
    z-index: 0;
    height: 100%;
    width: 100%;
    color: #959595;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.3px;
    background-color: #000000;
    font-family: roboto !important;
}

p {
    color: inherit;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 20px;
    font-family: roboto;
    letter-spacing: 2.3px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    /* color: #ffffff; */
    /* position: relative; */
    /* font-family: effra; */
    /* font-weight: normal; */
    /* margin-bottom: 20px; */
    /* letter-spacing: 4px; */
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 24px;
    line-height: 31px;
}

h3 {
    /* font-size: 20px; */
    /* line-height: 26px; */
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 22px;
}

h6 {
    font-size: 13px;
    line-height: 20px;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}

.navbar-nav {
    float: right;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}

.navbar-default {
    background-color: #000000;
    border-color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #c0c0c0;
    background-color: #555;
}


/*
.navbar .navbar-nav{
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse{
    text-align: center;
}

.navbar-header {
    display: inline-block;
    float: none;
}*/

.outer_wrapper {/*
    background-color: #131313;
    height: calc(100% - 120px);
    position: relative;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;*/
}

.outer_wrapper_grid {
    /*position: relative;*/
}

.gridRegion {
    position: relative;
    /* top: 20%; */
    margin-top: 65px;
}

.card {
    width: 10%;
    height: 75px;
}

.row {
    margin: 0;
}


/*.card:hover {
    transform: rotateY(180deg);
    transition: 0.6s;
    transform-style: preserve-3d;
}*/


/*Flip Transitons*/


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000;
}


/* flip the pane when hovered */

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 50px;
    height: 50px;
    float: left;
    /* margin: 1%; */
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 50px;
    display: inline-block;
}


/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    width: 100%;
    background-color: #36D7B7;
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    background-image: url(../images/catalinaisland50X50.jpg);
}

div[class*="row_"] {
    border-left: 1px solid #000000;
}


/*Flip Transitons End*/

.thumbnail {
    padding: 0px;
    margin-bottom: 0px;
    border: 0px solid #ddd;
    border-radius: 0px;
    background-color: #000;
}
.thumbnail img { 
    cursor: pointer;
}

#links a > img {
    width: 418px; 
    height: 240px; 
}

img.placesImage {
    content: url(../images/catalinaisland.jpg);
}
img.peopleImage {
    content: url(../images/people2.jpg);
}
img.kidsImage {
    content: url(../images/kids.jpg);
}
img.footBallImage {
    content: url(../images/football.jpg);
}
.container { 
    width: 418px; 
    height: 240px; 
    overflow: hidden; 
}
.container img { 
    width: 100%;
}
.cursor-pointer{
    cursor: pointer;
}
.sharer-0 {
    top: -45px;
    right: 60px;
    float: right;
}
.sharer-0  .sb-social.sb-center.active.sb-top {
    z-index: 3;
    float: left;
    left: -55%;
}
.sharer-0 .sb-social ul li.enabled {
    background: #000000;
}
.gallery-images.style-icons .images .img .preview {
    left: 50%;
}